<footer>
    <div class="center">
        <a href="https://developerakademie.com">(c) Developer Akademie</a>
    </div>

    <div class="center legal-links">
        <a href="https://developerakademie.com/data-protection">Datenschutz</a> |
        <a href="https://developerakademie.com/imprint">Impressum</a>
    </div>
</footer>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLQNJ4P" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->